<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 설정 -->
	<properties resource="db.properties" />

	<!-- VO 클래스의 alias 정의 -->
	<typeAliases>
		<typeAlias type="common.rent.client.Members" alias="Member"/>
		<typeAlias type="common.rent.client.RentList" alias="Rentlist"/>
		<typeAlias type="common.rent.client.RentFuelVo" alias="RentFuel"/>
		<typeAlias type="common.rent.client.BookingVo" alias="Booking"/>
		<typeAlias type="common.rent.client.RentInfoVo" alias="RentInfo"/>
		<typeAlias type="common.rent.client.Car" alias="Car"/>
	</typeAliases>

	<!-- DB접속 정보 셋팅 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mapper_client.xml" />
	</mappers>
</configuration>
